/* header  */

header {    
    padding: 20px 35px;
    width: 100%;
    background-color: #ecf4f3;
  }

  header h1 {
    font-weight: bold;
    font-style: oblique;
    font-size: 36px;
    color: #ecf4f3;
    margin: 0;
    display: inline;
  }

  header a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #010a43; 
}

  header a h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #010a43; 
  }

  header nav {
    float: right;
    margin: 7px 0;
  }


  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    background-color: #445c3c    
  }

  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #010a43; 
    font-size: 36px;
    }

  h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #010a43; 
    font-size: 20px;
  }

  h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    font-weight: lighter;
    color: #010a43; 
    }

  /* footer  */

  footer {
    background-color: #ecf4f3;
    width: 100%;
    color: #010a43; 
    padding: 40px 35px;
    font-style: bold;
  }

  footer h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    display: inline;
    color: #010a43; 
    font-size: 30px;
    margin: 0;
  }

  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  footer a {
    background-color: #ecf4f3;
  }


/* parallax required - added here [kt] */
.parallax-window {
  min-height: 400px;
  background: transparent;
}